.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

._.Spotlight-V100
.Trashes

DerivedData/
.idea/
*.xcworkspace
*.xccheckout
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcuserdata/*
xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/*.xcuserdatad/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcuserdatad/
*.xcscmblueprint

.build/
.swiftpm/
Package.resolved

Pods/
*.lock
*.xcconfig
*.xcworkspace

Carthage/Build/
Carthage/Checkouts/
Carthage/Configurations/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

*.ipa
*.app
*.dSYM.zip
*.dSYM
*.bcsymbolmap
*.xcarchive

*.swp
*.swo
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcuserdatad